body {
    padding: 10px;
    margin: 10px;
}
header h1{
    color: whitesmoke;
    background: rgb(0, 0, 146);
    text-align: center
}
header nav {
    display: flex;
    justify-content: center; /* Centers the navigation links */
    gap: 15px;
}
header nav a {
    padding: 10px 15px; /* A little more padding for a button-like feel */
    border-radius: 10px;
    background-color:rgb(37, 36, 36); /* A lighter background for the links */
    color: whitesmoke;
    text-align: center;
}
header img {
    background: white;
}

footer {
    color: whitesmoke;
    background:rgb(37, 36, 36) ;
}