body {
    padding: 0px;
    margin: 0px;
}

header h1 {
    color: whitesmoke;
    background: rgb(0, 0, 146);
    text-align: center;
    padding: 20px;
    margin: 0px;
}

header nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(37, 36, 36);
    padding: 10px;
}

header nav a {
    padding: 10px 25px;
    border-radius: 10px;
    background-color: rgb(37, 36, 36);
    color: whitesmoke;
    text-align: center;
}

main img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

section {
    text-align: center;
}


footer {
    color: whitesmoke;
    background: rgb(37, 36, 36);
    text-align: center;
    padding: 10px;
    margin: 0px;
}

@media (max-width: 600px) {
    header nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    header nav a {
        align-items: center;
        width: 80%;
        max-width: 250px;
        padding: 10px 0;
    }

    main {
        align-items: center;
    }

    section {
        align-items: center;
        padding: 15px;
    }
}